.complaint-form-container {
    margin: 50px 100px;
    background-color: white;
    box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.3);
}

.complaint-heading h1 {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: indigo;
}

.form {
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.input-field1 {
    display: inline-block;
    margin: 20px;
}

.input-field1 textarea {
    height: 100px;
    width: 300px;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #dadada;
}

.input-field1 input {
    padding: 10px;
    outline: 0px;
    border-radius: 10px;
    border: 2px solid #dadada;
    width: 300px;
    font-size: 20px;
}

.input-field1 input:focus,
.input-field1 textarea:focus {
    border: 2px solid;
}

.input-field1 label {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.input-field1 select {
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: 2px solid #dadada;
    border-radius: 10px;
    width: 300px;
}

.btn {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.btn button {
    background-color: green;
    color: white;
    outline: none;
    border-radius: 10px;
    padding: 18px 100px;
    font-size: 18px;
    font-weight: bold;
}

.btn button:hover {
    background-color: rgb(0, 255, 0);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .complaint-form-container {
        margin: 20px;

    }

    .form {
        padding: 30px !important;
        flex-direction: column;
        align-items: center;
    }

    .input-field1 {
        width: 100%;
        margin: 10px 0;
    }

    .input-field1 input,
    .input-field1 textarea,
    .input-field1 select {
        width: 90%;
        font-size: 16px;
    }

    .btn button {
        width: 90%;
        padding: 15px;
        font-size: 16px;
    }
}
